<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:3001/board.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://localhost:3001/writeCheck.js"></script>
    <script type="text/javascript" src="http://localhost:3001/search.js"></script>
    <!-- <script type="text/javascript" src="http://localhost:3001/sort.js"></script> -->
    <title>자유 게시판</title>
</head>

<body>
    
    <%-include('header.ejs')%>

    <div class="container">

    </div>
    <div class="top-container">
        <h1>자유 게시판</h1>
        <div class="link">

                <form class="search" action="/board/1" method="GET" onsubmit="return validateSearch()">
                    <input type="text" name="search" class="keword" placeholder="검색어를 입력하세요.">
                    <input type="submit" class="keword-submit" value="검색">
                </form>

            <a href="/write" id="writeButton"><span>글 작성하기</span></a>
        </div>
    </div>

    <div class="main-container">
        <table class="table">
            <tr class="table-top">
                <th id="num">번호</th>
                <th id="writer">작성자</th>
                <th id="date">날짜</th>
                <th id="title">제목</th>
                <th id="watch">조회수</th>
                <th id="like">좋아요</th>
            </tr>

            <% if(data.length===0){ %>
                <tr class="table-content">
                    <td colspan="6" class="none">게시글이 없습니다.</td>
                </tr>

                <% } else { %>
                    <% data.forEach((row, index)=>{ %>
                        <tr class="table-content">
                            <td class="num">
                                <%= row.num %>
                            </td>
                            <td class="name">
                                <%= row.name %>
                            </td>
                            <td class="date">
                                <%= row.date %>
                            </td>
                            <td class="title">
                                <a href="/memo?title=<%= row.title %>&value=<%= row.num %>&name=<%= row.name %>">
                                    <%= row.title %>
                                </a>
                            </td>
                            <td class="watch">
                                <%= row.watch %>
                            </td>
                            <td class="like">
                              <%= row.like %>
                          </td>
                        </tr>
                    <% }) %>
                <% } %>
        </table>

        <!-- <div class="sort-box">
          <select class="sort-select">
            <option value="sortRecent">기본(최신순)</option>
            <option value="sortViews">조회순</option>
            <option value="sortLikes">좋아요순</option>
          </select>
        </div> -->
    </div>

    <div class="container">
        <ul class="pager">
            <% var curSet = pasing.curSet %>
            <% var endPage = pasing.endPage %>
            <% var startPage = pasing.startPage %>
            <% var totalSet = pasing.totalSet %>
            <% var totalPage = pasing.totalPage %>
            <% var page_list_size = pasing.page_list_size %>
            <% var page_size = pasing.page_size %>
            <% var curPage = pasing.curPage %>
            <% var searchKeyword = pasing.searchKeyword %>
          
            <% if (curSet > 1) { %>
              <li class="previous">
                <% if (searchKeyword) { %>
                  <a href="/board/<%= (startPage - 1) %>?search=<%= encodeURIComponent(searchKeyword) %>">&lt;</a>
                <% } else { %>
                  <a href="/board/<%= (startPage - 1) %>" class="previous">&lt;</a>
                <% } %>
              </li>
            <% } %>
          
            <% for (var i = startPage; i <= endPage; i++) { %>
              <% if (i > totalPage) { break; } %>
              <% if (i === curPage) { %>
                <li class="now">
                  <a href="/board/<%= i %>?search=<%= encodeURIComponent(searchKeyword) %>"><%= i %></a>
                </li>
              <% } else { %>
                <li class="active">
                  <a href="/board/<%= i %>?search=<%= encodeURIComponent(searchKeyword) %>"><%= i %></a>
                </li>
              <% } %>
            <% } %>
          
            <% if (curSet < totalSet) { %>
              <li class="next">
                <% if (searchKeyword) { %>
                  <a href="/board/<%= (endPage + 1) %>?search=<%= encodeURIComponent(searchKeyword) %>">&gt;</a>
                <% } else { %>
                  <a href="/board/<%= (endPage + 1) %>">&gt;</a>
                <% } %>
              </li>
            <% } %>
          </ul>
    </div>

    <%- include("footer.ejs") %>
</body>
</html>