<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:3001/board.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://localhost:3001/writeCheck.js"></script>
    <title>자유 게시판</title>
</head>

<body>
    
    <%-include('header.ejs')%>

    <div class="container">

    </div>
    <div class="top-container">
        <h1>자유 게시판</h1>
        <div class="link">
            <a href="/write" id="writeButton"><span>글 작성하기</span></a>
        </div>
    </div>

    <div class="main-container">
        <table class="table">
            <tr class="table-top">
                <th id="num">번호</th>
                <th id="writer">작성자</th>
                <th id="date">날짜</th>
                <th id="title">제목</th>
            </tr>

            <% if(data.length===0){ %>
                <tr class="table-content">
                    <td colspan="4" class="none">게시글이 없습니다.</td>
                </tr>

                <% } else { %>
                    <% data.forEach((row, index)=>{ %>
                        <tr class="table-content">
                            <td class="num">
                                <%= row.num %>
                            </td>
                            <td class="name">
                                <%= row.name %>
                            </td>
                            <td class="date">
                                <%= row.date %>
                            </td>
                            <td class="title"><a href="/memo?title=<%= row.title %>&value=<%= row.num %>&name=<%= row.name %>">
                                    <%= row.title %>
                                </a></td>
                        </tr>
                        <% }) %>
                            <% } %>
        </table>
    </div>

    <div class="container">
        <ul class="pager">
            <%  var curSet=pasing.curSet 
                var endPage=pasing.endPage 
                var startPage=pasing.startPage 
                var totalSet=pasing.totalSet 
                var totalPage=pasing.totalPage 
                var page_list_size=pasing.page_list_size 
                varpage_size=pasing.page_size 
                var curPage=pasing.curPage 
            %>

                <% if(curSet> 1){ %>

                    <li value=(startPage -1) class="previous">
                        <a href='/board/<%= ( startPage - 1) %>'>&lt;</a>
                    </li>

                    <% } %>


                        <% for(var i=startPage; i <=endPage; i++){ if(i> totalPage){break;}

                            if(i == curPage){
                            %>
                            <li class='now' value=<%=i %> >
                                <a href='/board/<%= i %>'>
                                    <%= i %>
                                </a>
                            </li>

                            <% }else{ %>

                                <li class='active' value=<%=i %> >
                                    <a href='/board/<%= i %>'>
                                        <%= i %>
                                    </a>
                                </li>


                                <% } %>

                                    <% } %>

                                        <% if(curSet < totalSet){ %>
                                            <li value=( endPage + 1) class="next">
                                                <a href='/board/<%= ( endPage + 1) %>'>&gt;</a>
                                            </li>
                                            <% } %>

        </ul>
    </div>

    <%- include("footer.ejs") %>
</body>
</html>