<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:3001/main.css">
 
    <title>Main</title>
</head>
<body>
    <%-include('header.ejs')%>

    <div class="container" id="section">
        <div class="slide slide_wrap">
            <div class="slide_item item1"></div>
            <div class="slide_item item2"></div>
            <div class="slide_item item3"></div>
            <div class="slide_item item4"></div>
            <div class="slide_item item5"></div>
            <div class="slide_prev_button slide_button">◀</div>
            <div class="slide_next_button slide_button">▶</div>
            <ul class="slide_pagination"></ul>
        </div>
    


        <div class="left">
            <p>Rank</p>
            <hr>
            <div class="rank">

            </div>
        </div>              
        <div class="right">
            <span class="board">게시판</span>
            <a href="main" class="plus"><span>+</span></a>
            <hr>
            <div class="recent">



                    <% if(rows.length === 0){ %>
                        <p class="none">게시글이 없습니다.</p>
                    <% } else { %>
                        <ul>    
                            <!-- <% rows.forEach((row, index)=>{ %>
                                <li><a href="#" value="<%= row.num %>"><%= row.title %></a></li> 
                            <% }) %>     -->
                            <% for(var i = 0;i < rows.length;i++) { %>
                                <li><a href="memo?title=<%= rows[i].title %>&value=<%= rows[i].num %>&name=<%= rows[i].name %>" value="<%= rows[i].num %>"><%= rows[i].title %></a></li>          
                                <% if(i === 4) break; %>
                            <% } %>      
                        </ul>
                    <% } %>
  
                
            </div>
        </div>

    </div>

    <%-include('footer.ejs')%>
</body>
<script type="text/javascript" src="http://localhost:3001/slide.js"></script>
</html>