<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:3001/main.css">
    <title>Title</title>
</head>
<body>
    <div class="containernav" id="nav">
        <nav>
            <div class="logo">
                <div><a href="/" class="home">LOGO</a></div>
            </div>
            <div class="nav">
                <a href="/"><span class="li">HOME</span></a>
                <a href="#"><span class="li">CONTENT</span></a>
                <a href="#"><span class="li">HOME</span></a>
                <a href="#"><span class="li">HOME</span></a>
            </div>
        </nav>
        <hr class="navline">
    </div>

    <div class="container" id="section">
        <div class="login">
            
            <div class="form">
                <p>로그인</p>
                <form method="" action="">
                    <input type="text" placeholder="id">
                    <input type="password" placeholder="password">
                    <input type="submit" value="로그인">
                </form>
            </div>
        </div>
        <div class="test">
            <div class="image">
                <img src="../background_img3.jpg">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="left">
            <p>Rank</p>
            <hr>
            <div class="rank">

            </div>
        </div>              
        <div class="right">
            <span class="board">게시판</span>
            <a href="board" class="plus"><span>+</span></a>
            <hr>
            <div class="recent">



                    <% if(rows.length === 0){ %>
                        <p class="none">게시글이 없습니다.</p>
                    <% } else { %>
                        <ul>    
                            <!-- <% rows.forEach((row, index)=>{ %>
                                <li><a href="#" value="<%= row.num %>"><%= row.title %></a></li> 
                            <% }) %>     -->
                            <% for(var i = 0;i < rows.length;i++) { %>
                                <li><a href="memo?title=<%= rows[i].title %>&value=<%= rows[i].num %>" value="<%= rows[i].num %>"><%= rows[i].title %></a></li>          
                                <% if(i === 4) break; %>
                            <% } %>      
                        </ul>
                    <% } %>
  
                
            </div>
        </div>

    </div>
    <div class="containerfooter">
        <div class="footer">

        </div>
    </div>
</body>
</html>