<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%= rows[0].num %><br>
  <%= rows[0].title %><br>
  <%= rows[0].date %><br>
  <%= rows[0].name %><br>
  <%= rows[0].content %><br>
  
</body>
</html>